<div class="history-table-shell">
  <div class="history-table-frame">
    <p-table
      [value]="history"
      [paginator]="false"
      styleClass="history-table"
      [rows]="10"
      stripedRows
      size="large"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Glicose</th>
          <th>Momento da medição</th>
          <th>Anotações</th>
          <th>Data da medição</th>
          <th>Excluir?</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.value }}</td>
          <td>{{ item.measurementType | measurementTranslate }}</td>
          <td>{{ item.note }}</td>
          <td>{{ item.measuredAt | date: "dd/MM/yyyy HH:mm" }}</td>
          <td class="cursor-pointer" (click)="openDeleteModal(item)">🗑️</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
@if (showDeleteModal) {
  <app-generic-modal
    modalTitle="Confirmar exclusão"
    confirmButtonTitle="Excluir"
    [disableConfirm]="disableConfirm"
    [disableCancel]="disableCancel"
    (close)="onCloseModal()"
    (confirm)="onConfirmModal()"
    >Confirma a exclusão do registro de glicose?</app-generic-modal
  >
}
