<div class="bg-gray-100">
  <nav class="bg-slate-800 text-white">
    <div class="max-w-7xl mx-auto px-6">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center space-x-8">
          <div class="flex items-center space-x-2">
            <div class="w-8 h-8 bg-indigo-500 rounded-full"></div>
          </div>

          <div class="flex space-x-6 text-sm font-medium">
            <a routerLink="/dashboard" routerLinkActive="bg-slate-700 text-white" class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700">Dashboard</a>
            <a routerLink="/history" routerLinkActive="bg-slate-700 text-white" class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700">Histórico</a>
            <a routerLink="/my-account" routerLinkActive="bg-slate-700 text-white" class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700">Minha Conta</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
