<div class="bg-gray-100">
  <nav class="bg-slate-800 text-white">
    <div class="max-w-7xl mx-auto pl-1 pr-6">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center space-x-8">
          <div class="flex items-center space-x-2">
            <div class="w-40">
              <img src="logotipo.png" />
            </div>
            <h1
              class="text-2xl font-black tracking-tight text-white drop-shadow-sm pr-3"
            >
              Glico<span class="text-sky-400">Daily</span>
            </h1>
          </div>

          <div class="flex space-x-6 text-sm font-medium">
            <a
              routerLink="/dashboard"
              routerLinkActive="bg-slate-700 text-white"
              class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700"
              >{{ "DASHBOARD" | translate }}</a
            >
            <a
              routerLink="/history"
              routerLinkActive="bg-slate-700 text-white"
              class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700"
              >{{ "HISTORY" | translate }}</a
            >
            <a
              routerLink="/ai-tips"
              routerLinkActive="bg-slate-700 text-white"
              class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700"
              >{{ "IA_TIPS" | translate }}</a
            >
            <a
              routerLink="/my-account"
              routerLinkActive="bg-slate-700 text-white"
              class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700"
              >{{ "MY_ACCOUNT" | translate }}</a
            >

            <a
              (click)="logout()"
              routerLinkActive="bg-slate-700 text-white"
              class="cursor-pointer bg-slate-900 px-3 py-2 rounded-md hover:bg-slate-700"
              >{{ "LOG_OUT" | translate }}</a
            >
          </div>
        </div>
        <div>
          @if (translateDataService.language() === "pt") {
            <img src="icon-brasil-rounded-32.png" />
          } @else {
            <img src="icon-usa-rounded-32.png" />
          }
        </div>
      </div>
    </div>
  </nav>
</div>
