<div class="w-full h-full">
  <div class="w-full h-full">
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [colors]="chartOptions.colors"
      [fill]="chartOptions.fill"
      [markers]="chartOptions.markers"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
    >
    </apx-chart>
  </div>
  <div class="text-center pt-10">
    <button
      class="cursor-pointer bg-sky-500 hover:bg-sky-700 text-white font-medium px-4 py-2 rounded-lg"
      (click)="openModalForm()"
    >
      {{ 'REGISTRY_GLUCOSE_BUTTON' | translate }}
    </button>
  </div>
</div>
@if (showGlucoseRegistryModal) {
  <app-glucose-modal (close)="onCloseModal($event)"></app-glucose-modal>
}
